* {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  background: #9E9E9E;
  border: black 1px solid;
  width: 150px;
  height: 150px;
}